<div>
    <p>Hi! <%= comment.user.name%></p>
    <br>
    <br>
    <p style="background-color: orangered;">Your Comment <%= comment.content%> just got published on codeComm.</p>
    <br>
    <br>
    <p>thanks! SIUU!!!</p>
</div>