<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title><%=title%></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>this is codeComm a community of coders </h1>
    <h3>this is the <%=title%> page</h3>
</body>
</html>