<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/_post.css">
<link rel="stylesheet" href="/css/_comment.css">
<div id="home-container">
    <section id="feed-section">
        <h4 class="home-section-heading">
            Posts
        </h4>
        
        <% if(locals.user){ %>
            <div id="create-post">
                <form action="/posts/create" id="new-post-form" method="POST">
                    <textarea name="content" cols="30" rows="3" placeholder="Type Here...." required></textarea>
                    <input type="submit" value="Create Post">
                </form>
            </div>
        <%}%>
        
        <div id="all-posts">
            <ul>
                <!-- also insert css for posts -->
                <% for( let post of  locals.all_posts){ %>
                    <%- include('partials/_post',{post: post}); %>
                <%}%>
            </ul>
        </div>
    </section>
    <section id="friends-section">
        <h4 class="home-section-heading">friends</h4>
        <ul id="friend-container">
            <% for(let friend of locals.all_users){ %>
               <%- include('partials/_friend',{friend:friend}) %>
            <% } %>
        </ul>
    </section>
    <%- include('partials/_chatBox'); %>
</div>

<script src="/js/home_post_comments.js"></script>
<script src="/js/home_posts.js"></script>
<script src="/js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
 <!-- establishing the front end for the chat box -->
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script src="js/chat_engine.js"></script>
<% if(locals.user){ %>
    <script>
        new ChatEngine('home-chatbox','<%= locals.user.email %>');
    </script>
<%}%>

