.single-friend-container {
  width: 100%;
  padding: 1%;
  margin: 2%;
  background-color: #e7841b;
  border-radius: 15px; }
  .single-friend-container a {
    font-size: large;
    width: 100%;
    display: flex;
    justify-content: left;
    text-decoration: none;
    color: #EEEEEE;
    margin-left: 5%; }
    .single-friend-container a i {
      margin-right: 3%; }
