/* for main section */
#main_section{
    overflow-y: auto;
}

/* for slide show */
.carousel_caption_heading{
    font-size:3vw;
    text-transform: capitalize;
    opacity: 0.6;
    transition: opacity 0.5s;
}
.carousel_caption_heading:hover{
    opacity: 1;
}
@media only screen and (max-width: 768px) {
    .carousel_caption_heading{
        font-size:6vw;
    }
 }
 /* for cover images of songs */
 .cover_image{
    width: 10vh;
 }
 /* for info about the songs */

 .album_name,.artist_name{
    padding: 0;
    margin: 0;
 }
.album_name{
    font-size:x-small;
    opacity: 0.8;
}
.artist_name{
    font-size: medium;
    opacity: 0.9;
}
/* for shadows  */
.shadow_white{
    box-shadow: 0px 0px 4px 3px rgb(255, 255, 255,0.3) ;
}
/* popular artist section  */

#popular_artists img{
    width: 15vh;
    height: 15vh;
    border-radius:50%!important;
    border: 3px solid rgb(255, 251, 251,0.3);
}
#popular_artists h3{
    /* text-align: center; */
    opacity: 0.7;
}
