<h1>this is the tasklist page for <%=user.name%></h1>
<div id="create-task">
    <form action="/tasklist/create">
        <input type="text" name="detail" placeholder="Task Description" required>        
        <input type="date" name="due" required>        
        <select name="tag" id="">
            
        </select>
    </form>
</div>
<div id="all-tasks">

</div>