$chat-box-color: #c76f0a;
$chat-box-background: #c9b3b3;
$chat-box-border-radius: 5px;
$chat-box-form-padding: 10px;

.chat-box {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 275px;
  height: 400px;
  border: 1px solid $chat-box-color;
  background-color: $chat-box-color;
  overflow-y: hidden;
  color: black;

  .chat-messages {
    height: calc(100% - 50px);
    padding: $chat-box-form-padding;
    overflow-y: scroll;
    overflow-x: hidden; /* hide the horizontal scrollbar */

    /* hide the scrollbar */
    &::-webkit-scrollbar {
      display: none;
    }

    /* hide the scrollbar thumb */
    &::-webkit-scrollbar-thumb {
      display: none;
    }

    .message {
      margin-bottom: 10px;
      padding: 5px;
      border-radius: $chat-box-border-radius;
      background-color: $chat-box-background;

      &.received {
        background-color: #e6e6ff;
      }
    }
  }

  .chat-form {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: $chat-box-form-padding;
    display: flex;

    input[type="text"] {
      flex-grow: 1;
      width: 80%;
      padding: 5px;
      border: none;
      border-radius: $chat-box-border-radius;
      margin-right: 10px;
    }

    button[type="submit"] {
      padding: 5px 10px;
      border: none;
      border-radius: $chat-box-border-radius;
      background-color: #4CAF50;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: #3e8e41;
      }
    }
  }
}
