$light-color: #EEEEEE;
.single-comment-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: {
        top: 1%;
        bottom: 1%;
    }
    .comment-data{
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 1%;
        background-color: #e7841b;
        border-radius: 5px;
        margin: {
            right: 0.5%;
        }
        .commentDelete-userInfo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            h1{
                font-size: smaller;
                color: black;
                font-family: cursive;
            }
            a{
                font-size:larger;
                text-decoration: none;
                color: rgba(249, 6, 6, 0.301) ;
            }
            a:hover {
                color: rgba(249, 6, 6, 0.8) ;
            }
            margin : {
                top:0.5%;
                bottom: 1%;
            }
            border-bottom: 0.5px dashed black;
            
        }
        .comment-content{
            margin-top: 1%;
            font-size: small;
            font-weight: 100;
            font-family:'Times New Roman', Times, serif;
            color: $light-color;
            overflow: hidden;
        }
    }
}