body{
    margin: 0;
    font-family: sans-serif;
    font-size: 30px;
}
/*==========BODY HEADER=============*/
#body-header {
    height: 60vh;
    opacity: 0.9;
    background-image: url(photos/header_background.avif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}
/*=============NAVIGATION BAR============*/
.horizontal-list{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    text-align: center;
}
.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
    margin-left: 3%;
    font-weight: 100;
    font-size: 1.6rem;
}
.horizontal-list li a{
    color: white;
    text-decoration: none;
}
.nav-menu li a{
    transition: color 0.5s,border-bottom 4s ;
}
.nav-menu a:hover{
    color: rgba(245, 245, 245, 0.843);
    border-bottom: 1px solid white;
}

.text-center{
    text-align: center;
}
/*============NAME and SOCIAL===================*/
#name-social-container{
    margin-top: 22vh;
}
#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 2rem;
}
.social-icons li a img{
    height: 30px;
    width: 30px;
    padding: 0px;
    font-size: 1rem;
    border-radius: 25%;
    box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.599) ;
    background-color: rgba(255, 255, 255, 0.599);
}
.social-icons li a img:hover{
    height: 30px;
    width: 30px;
    box-shadow: 0px 0px 8px 4px white ;
    background-color: white;
    border-radius: 50%;
    transition: background-color 0.2s,box-shadow 0.3s , radious 0.4s;
}
/*==============ABOUT====================*/

#about{
    height: auto;
    width: 100%;
    position: relative;
}
#my-image{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -11vh;
}
#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
}
#my-image img:hover{
    height: 103%;
    width: 103%;
    border-radius: 55%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.8);
    transition: height 0.15s,width 0.15s,box-shadow 0.2s;
}
#about-me{
    margin: auto;
    width: 65%;
    padding: 2rem;
}
#about-me p{

    text-align: justify;
    word-spacing: normal;
    font-size: 1.7rem;
    color: gray;
    opacity: 0.8;
}
#about-me p:hover{

    text-align: justify;
    word-spacing: normal;
    font-size: 1.7rem;
    color: rgb(104, 98, 98);
    opacity: 1;
    transition: opacity 0.2s;
}
/*=========for all sections==========*/
.capital-text{
    text-transform: uppercase;
}
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:5%;
}
section:nth-child(2n+1){
    background-color: white;
}
section:nth-child(2n){
    background-color: rgba(210, 207, 207, 0.377);
}
.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}
.section-heading:hover{
    font-weight: 700;
    opacity: 0.7;
    transition: font-weight 0.5s,opacity 0.3s;
}
.section-heading span{
    font-size: 40px;
    color: gray;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}
/*========color classes==========*/
.bg-blue{
    background-color: blue;
}
.bg-red{
    background-color: red;
}
.bg-orange{
    background-color: orange;
}
.bg-yellow{
    background-color: rgb(224, 224, 8);
}
.bg-green{
    background-color: green;
}
.bg-pink{
    background-color: pink;
}
.bg-brown{
    background-color: rgba(137, 31, 31, 0.896);
}
/*=========percentage classes================*/
.ninety-percent{
    width: 90%;
    height: inherit;
}
.eighty-five-percent{
    width: 85%;
    height: inherit;
}
.eighty-percent{
    width: 80%;
    height: inherit;
}
.thirty-percent{
    width: 30%;
    height: inherit;
}
.twenty-percent{
    width: 20%;
    height: inherit;
}
.zero-percent{
    width: 0%;
    height: inherit;
}
/*===========SKILLS==================*/
#skill-display{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skill-progress{
    width: 9rem;
    height: 2rem;
    background-color: lightgrey;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 8px 2px rgba(210, 207, 207,1);
    margin: 10px;
}
.skill-progress>div{
    border-radius: 20px 0px 0px 20px;
}
.skill-name span{
    color:white;
    margin-left: 10px;
    font-size: 85%;
    
}
#skills{
    padding-bottom:5%;
}
/* ==================Time line============== */
.timeline{
    position: relative;
    width: 75%;
    border: 2px solid black;
}
.timeline-box{
    position: relative;
    width: 40%;
    min-height: 150px;
    left: 5%;
    margin: 5px;
    border: 2px solid black;

}
.timeline-box::after{
    content: '';
    position: absolute;
    top: 30%;
    right:-12.3%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
}
.timeline-box:nth-child(2n)::after{
    content: '';
    position: absolute;
    top: 30%;
    left:-11%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
}
.timeline-box:nth-child(2n)
{
    left:53%;
}
.timeline-divider{
    position: absolute;
    height: 75%;
    width: 0;
    border: 3px dashed rgba(210, 207, 207,1);
    top: 10%;
    left: 50%;
}
.timeline-traveller{
    position: sticky;
    top: 0%;
    color: rgb(78, 83, 83);
    transform: rotate(90deg);
}
/*=============EXPERIENCE================*/
/*============EDUCATION=================*/
/*==============PORTFOLIO===============*/
#portfolio-display{
    width:70%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.project-image>img{
    height: 230px;
    width: 230px;
    margin: 10px;
    border-radius: 11%;
    box-shadow:0px 0px 8px 2px rgba(210, 207, 207,1);
}
/*=============CONTACTS================*/
#contacts{
    background: linear-gradient(to right top,yellow,orange);
}
#contact-display{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    
}
#contact-display>div{
    width:50%;
}
#contact-form input{
    width: 85%;
    padding: 10px;
    margin: 15px;
    box-sizing:border-box;
    border:0px;
    border-bottom:2px solid white;
}
#contact-display .social-links{
    margin: auto;
}