
body {
    background: #018DED ;
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
  }

h1{
    position: relative;
    text-align: center;
    font-size: 3.2em;
    color: #a2d4f5;
    text-shadow: 1px 1px 1px #5a0b0d;
  }