#container{
    display: inline-block;
    height: 500px;
    width: 500px;
    margin: 20px;
    border:3px solid black;
    background-image: linear-gradient(to top right ,#2857a4 ,#403066 );

}
#container2{
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 20px;
    border:3px solid black;
    background: repeating-linear-gradient(to top left,yellow , orange);

}
#container3{
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 20px;
    border:3px solid black;
    background: radial-gradient(white,grey,black);

}