<link rel="stylesheet" href="../css/_chatbox.css">
<div id="chatBox_wrapper">
    <div class="chat_Container">
        <div class="user1-message chat-message">
            <p>user 1</p>
        </div>
        <div class="user2-message chat-message">
           <p>user 2</p>
        </div>
        <div class="user2-message chat-message">
            <p>user 2</p>
         </div>
         <div class="user2-message chat-message">
            <p>user 2</p>
         </div>
         <div class="user1-message chat-message">
            <p>user 1</p>
        </div>
    </div>
    <form class="chatbox_form" action="" >
        <input type="text" placeholder="type our message here">
        <button>Send</button>
    </form>
</div>