<link rel="stylesheet" href="../css/_chatbox.css">
<div class="chat-box">
    <div class="chat-messages">
      <div class="message sent">Hi, how can I help you today?</div>
      <div class="message  received">I have a question about your products.</div>
      <div class="message sent">Sure, what would you like to know?</div>
      <div class="message received">Do you have any discounts available?</div>
      <div class="message sent">We offer discounts on select products during certain times of the year. Can you tell me which product you're interested in?</div>
    </div>
    <form class="chat-form">
      <input type="text" placeholder="Type your message here...">
      <button type="submit">Send</button>
    </form>
  </div>