<footer>
    <div id="footer-title">
        <i class="fa-regular fa-copyright"></i>
        <i class="fa-regular fa-registered"></i>
        <h1>codeComm</h1>
        <i class="fa-solid fa-trademark"></i>
    </div>
    <ul id="footer-links">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/users/profile">Profile</a>
        </li>
    </ul>
</footer>