 <link rel="stylesheet" href="../css/_friend.css">
 <li class="single-friend-container">
    <a href="/users/profile/<%=friend.id%>">
        <i class="fa-solid fa-user"></i>
        <p><%=friend.name%></p>    
    </a>
</li>